body {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f8f8f8;
}

.ts-row {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f8f8f8;
}

.ts-row-empty {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f8f8f8;
}

.ts-btn-90 {
	width: 90px;
}

.ts-btn-full {
	width: 100%;
}