/tpe/webdemo.ls
/tpe/webdemo.tp
/karel/webabort.pc
/karel/webcheck.pc
/karel/webcontrol.pc
/karel/webkeep.pc
/karel/weblimit.pc
/karel/webmonitor.pc
/karel/webprogam.pc
/karel/webreset.pc
/karel/webstart.pc
/karel/webstop.pc
/tpe/webmotion.tp
