body {
	background-color: #CCCCCC;
}

.ts-row {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #EEEEEE;
}

.ts-row-empty {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #EEEEEE;
}

.ts-btn-90 {
	width: 90px;
}